/* List Status*/
/* --------------------------*/
.list-status {
	ul {
		list-style-type: none;
		padding: 0;
		margin-bottom: 0;

		> li {
			display: inline-block;
			& + li:before {
				content: '|';
				margin-left: 10px;
				margin-right: 10px;
				color: var(--list-status-text, #9FB0B8) ;
			}

			> a {
				color: var(--list-status-text, #9FB0B8);
				position: relative;
				display: inline-block;
				padding-bottom: 6px;

				&:after {
					content: '';
					width: 100%;
					height: 2px;
					position: absolute;
					bottom: 0;
					left: 0;
                    background-color: transparent;				
				}
			}

			&.active {
				> a {
                    color: var(--list-status-text-active, #797979);
					font-weight: 600;
                    &:after {
                        background-color: var(--list-status-border-active, var(--primary));	
                    }
				}
			}
		}
	}

	/* with border*/
	&.with-border {
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 15px;

		> ul {
			margin: 0;

			> li {
				&:before {color: transparent;}

				> a {
					padding-bottom: 4px;

					&:after {
						bottom: -1px;
						width: 100%;
					}
				}

				&:not(.active) > a {
					color: #B9B9B9;
				}
			}
		}
	}
}