.slimScrollDiv {
    height: auto !important;
    min-height: 30px !important;
    max-height: 300px !important;
  
    .scroller {
        height: auto !important;
        min-height: 30px !important;
        max-height: 300px !important;
    }
}
  
.js-scroll {
    height: auto !important;
}
