// Theme Color
// $color-theme-primary:#0069B1;
// $color-theme-second:#00ADC6;
// $color-accent:#98C93C;
// $color-title: #000000;
// $color-text-primary: #333333;
// $color-text-second: #323232;
// $color-text-light: #FFFFFF;


// $color-theme-primary-hover: darken($color-theme-primary, 5%);
// $color-theme-second-hover: darken($color-theme-second, 5%);
// $color-wp-caption: #9D9FA4;
// $color-border: #898989; //border form
// $color-line: #e0e0e0; //garis pemisah
// $color-separator-widget: #E4E6E7;


:root{
    --color-primary: #262626;
    --color-accent: #1C69D4;
    --color-accent-hover: #1959b1;
    --color-grey: #8A8A8A;
    --color-grey-hover: #727272;
}