# untuk semua value dimasukkan config di frontend-dashboard/src/constants/config.js dahulu, dan nantinya developer menggunakan const dari config ini

# INTERNAL_NETWORK_BE_BASE_URL=https://admin.tap.tongkolspace.com
# FRONTEND_DASHBOARD_BASE_URL=https://local.tap.tongkolspace.com

INTERNAL_NETWORK_BE_BASE_URL=http://127.0.0.1:8000
FRONTEND_DASHBOARD_BASE_URL=http://127.0.0.1:8090